source https://www.nuget.org/api/v2
source https://www.myget.org/F/mmalsharp/api/v3/index.json

// NuGet packages
nuget GtkSharp ~> 3.1.3
nuget Raspberry.IO.GeneralPurpose ~> 2.4
nuget Raspberry.System ~> 2.0.0
nuget MMALSharp